body{
    font-family: 'Old Standard TT', serif;
}
.cabecera{
    background: #d6c8c8 linear-gradient(#d6c8c8, #ffffff);
    padding: 4rem 0;
    width: 100%;
    text-align: center;
}

.cabecera__titulo{
    font-size: 3rem;
    text-decoration: underline;
}

.instrucciones{
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.instrucciones__titulo{
    font-size: 1.5rem;
    text-transform: lowercase;
    padding-bottom: 2rem;
}

.texto{
    vertical-align: top;
    display: flex;
    justify-content: space-around;
    align-items: top;
    width: 70%;
    margin: 0 auto;
}

.texto__contenedor{
    display: flex;
    flex-direction: column;
}

.texto__input{
    border: dotted;
    border-radius: 2rem;
    font-family: 'Old Standard TT', serif;
    font-size: 1.2rem;
    text-align: center;
    width: 50vh;
    height: 30vh;
    margin-bottom: 2rem;
}

.texto__output{
    border: dotted;
    border-radius: 2rem;
    font-family: 'Old Standard TT', serif;
    font-size: 1.2rem;
    text-align: center;
    width: 50vh;
    height: 30vh;
    margin-bottom: 2rem;
}

button{
    background: #e7d9d9;
    border: solid black 2px;
    border-radius: .5rem;
    font-family: 'Old Standard TT', serif;
    margin: 0 auto 2rem;
    height: 2rem;
    text-transform: uppercase;
    vertical-align: center;
    width: 50%;
}